<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dsouchon.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.NFC"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Wayo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="Wayo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_my_soapcall" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity21"
            android:label="Scan Tags" />
        <activity
            android:name=".BarcodeScanner"
            android:label="Scan Barcode" />
        <activity
            android:name=".CustomScannerActivity"
            android:label="Scan Barcode" />
        <activity android:name=".OpenScanner" />
        <activity android:name=".UploadActivity"></activity>
    </application>

</manifest>